@mixin display-select {
    position: absolute;
    z-index: 110;
    background-color: white;
    border: 1px solid $main-color;
    box-shadow: 0px 0px 10px $color-grey;
    margin-top: -1.1rem;
}


.event-form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(64, 38, 47, 0.5);

    form {
        width: 42rem;
        height: 34.5rem;
        background: white;
        box-shadow: 0px 0px 10px $color-grey;
        margin: 0 auto;
        margin-top: calc(50vh - 17.3rem);


        .title-form {
            font-size: 1.6rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: $button-color;
            padding: 1.5rem;
            @include user-select;
        }


        > label, .start label, .end label, .repeat div {
            display: block;
            font-size: 1.2rem;
            color: $main-color;
            margin: 0 1.5rem 1rem 1.5rem;

            input, textarea {
                height: 1.5rem;
                padding: 0 1rem;
                margin: 0 0.5rem;
                font-size: 0.9rem;
                color: $color-grey;
                border: 2px solid $color-pale-grey;
            }

            input:focus,  textarea:focus {
                border: 2px solid $main-color;
                outline: 0;
            }
        }


        .title-event input {
            height: 1.8rem;
            width: 25rem;
            font-size: 1.1rem;
        }


        .category, .repeat {
            display: inline-flex;
            align-items: baseline;
            margin: 0 1.5rem 1rem;

            span {
                font-size: 1.2rem;
                color: $main-color;
                margin-right: 1rem;
            }

            label {
                font-size: 0.9rem;
                margin-right: 1.5rem;

                input {
                    margin-right: 0.3rem;
                }
            }
        }


        .date-time {
            display: inline-flex;
            flex-wrap: nowrap;
            margin-right: 1rem;

            .start, .end {
                display: inline-flex;
                flex-wrap: nowrap;

                label {
                    margin-right: 0;

                    i {
                        margin-left: -2rem;
                        font-size: 1rem;
                        color: $color-pale-grey;
                    }

                    i:hover {
                        color: $main-color;
                        cursor: pointer;
                    }

                    input {
                        width: 5rem;
                        padding: 0 1.7rem 0 0.5rem;
                    }
                }

                label:last-child {
                    margin-left: 0;

                    input {
                        width: 4rem;
                    }
                }
            }
        }

        .select_start_date, .select_end_date, .select_repeat_end {
            @include display-select;

            .nav-date {
                position: relative;
                top: 0;
                padding: 0 0.5rem 0.5rem;
            }
        }

        .select_start_date{
            left: calc((100vw - 40rem)/2 + 4.3rem);
        }

        .select_end_date {
            left: calc((100vw - 40rem)/2 + 24.5rem);
        }

        .select_start_time, .select_end_time {
            @include display-select;
            text-align: right;
            padding: 0.5rem;
            padding-right: 1rem;
            height: 10rem;
            overflow-y: scroll;

            .time:hover {
                background-color: $background-color;
                cursor: pointer;
            }
        }

        .select_start_time {
            left: calc((100vw - 40rem)/2 + 12.85rem);
        }

        .select_end_time {
            left: calc((100vw - 40rem)/2 + 32.95rem);
        }


        .repeat {
            align-items: center;
            height: 1.8rem;

            span {
                margin-right: 0.5rem;
            }

            > input {
                margin-right: 0.5rem;
            }

            div {
                margin: 0;

                i {
                    margin-left: -2rem;
                    font-size: 1rem;
                    color: $color-pale-grey;
                }

                i:hover {
                    color: $main-color;
                    cursor: pointer;
                }

                input {
                    width: 5rem;
                    padding: 0 1.7rem 0 0.5rem;
                }
            }

            .rep-rate input,  .rep-duration input {
                font-size: 1rem;
                text-align: center;
            }

            .rep-rate input {
                width: 6.5rem;
            }

            .rep-duration input {
                width: 5.5rem;
            }

            div:last-child {
                margin-left: 1rem;
            }

            .none {
                display: none;
            }
        }

        .select_repeat_rate, .select_repeat_duration {
            @include display-select;
            width: 8.75rem;

            div {
                width: 100%;
                text-align: center;
            }

            div:hover {
                background-color: $background-color;
                cursor: pointer;
            }
        }

        .select_repeat_rate {
            left: calc((100vw - 40rem)/2 + 6.8rem);
        }

        .select_repeat_duration {
            width: 7.7rem;
            left: calc((100vw - 40rem)/2 + 16.8rem);
        }

        .select_repeat_end {
            left: calc((100vw - 40rem)/2 + 26.7rem);
        }


        .place input {
            width: 15rem;
        }


        .discription textarea {
            width: calc(37rem - 4px);
            height: 3rem;
            padding: 0.5rem 1rem;
            margin: 0;
        }


        .button-block {
            width: 100%;
            display: inline-flex;
            justify-content: center;

            .button {
                background-color: $button-color;
                color: white;
                text-transform: uppercase;
                border: 2px solid $button-color;
                margin: 0.5rem 1.5rem 1.5rem;
                width: 10rem;
                height: 2.5rem;
                font-size: 1rem;
                border-radius: 5px;
                @include user-select;
            }

            .button:hover {
                background-color: $shadow-color;
                border: 2px solid $shadow-color;
            }

            .button:focus {
                outline: 0;
                background-color: $button-color;
                border: 2px solid $button-color;
            }
        }


        .error {
            width: 100%;
            height: 2.4rem;
            margin: 1rem 0;
            display: flex;
            justify-content: center;

            div {
                padding: 0.5rem 1rem;
                font-size: 1rem;
                color: $error-color;
                text-align: center;
                background-color: rgba(249, 239, 6, 0.49);
                border-radius: 0.3rem;

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
