.authorization {
    position: absolute;
    top: 0;
    background-color: $background-color;
    height: 100%;
    min-height: 35rem;
    width: 100%;
    min-width: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        margin: 0 auto;
        font-size: 3rem;
        @include user-select;
    }
}

.reg-form {
    background-color: $form-color;
    color: $background-color;
    width: 30rem;
    height: 28rem;
    margin-bottom: 2rem;
    box-shadow: 7px 7px 5px $color-grey;

    ul.form-group {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 1rem 0;
        @include user-select;

        li {
            list-style-type: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 14rem;
            height: 2.5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }

        li.form {
            background-color: $color-grey;
            border-bottom: 2px solid $main-color;

            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $background-color;


            }
        }

        li.active {
            background-color: $main-color;
        }

        li:hover {
            background-color: $button-color;
        }
    }
}


#signup, #login {
    height: 19.5rem;

    h2 {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
        @include user-select;
    }

    input, label .fa {
        height: 2rem;
        border: 2px solid $color-pale-grey;
    }

    input {
        padding: 0 1rem;
        color: $color-grey;
        font-size: 1.1rem;
    }

    input:focus {
        border: 2px solid $main-color;
        outline: 0;
    }

    input:-ms-input-placeholder {
        color: $color-pale-grey;
    }

    input::-webkit-input-placeholder {
        color: $color-pale-grey;
        opacity: 1;
    }

    .message, .err {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28rem;
        height: 1.5rem;
        margin: 0 1rem;
        color: $error-color;
    }

    .message {
        color: $color-pale-grey;
    }

    .error {
        border: 2px solid $error-color;
        box-shadow: inset 0 0 10px $error-color;
    }

    .button, .button-block {
        width: 28rem;
        height: 2.5rem;
        font-size: 1.2rem;
        color: $background-color;
        @include user-select;
    }

    .button {
        background-color: $main-color;
        border: 2px solid $main-color;
        cursor: pointer;
    }

    .button:focus {
        outline: 0;
        width: 27.8rem;
        height: 2.3rem;

    }

    .button:hover {
        background-color: $button-color;
        border: 2px solid $button-color;
    }

    .button-block {
        background-color: $color-grey;
        border: 2px solid $color-grey;
    }
}


#login {
    form {
        margin-top: 3rem;
    }

    .field-wrap:nth-child(2) {
        height: 4.9rem;

        .err {
            height: 1rem;
        }
    }

    .field-wrap {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.5rem auto;

        label {
            display: inline-flex;
            align-items: center;

            .fa {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                font-size: 1.5rem;
                color: $main-color;
                background-color: $color-pale-grey;
            }

            input {
                width: calc(22rem - 2px);
            }
        }

    }

    .button, .button-block {
        margin: 3.5rem 1rem 1rem;
    }

    .button:focus {
        margin: 3.6rem 1.1rem 1.1rem;
    }
}


#signup {
    input {
        margin: 0 1rem;
    }

    .top-row {
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;

        input, {
            width: calc(11.5rem - 4px);
        }

        input:nth-child(2n), .err:nth-child(2n) {
            margin-left: 0;
        }

        .err {
            width: 13.5rem;
        }
    }

    .main {
        display: inline-flex;
        flex-wrap: wrap;

        input {
            margin-top: 0.5rem;
            width: calc(26rem - 4px);
        }
    }

    .main:nth-child(3) {
        height: 5.4rem;
        .err {
            height: 1rem;
        }
    }

    .error-message {
        margin: 0.6rem;
    }

    .button, .button-block {
        margin: 1.6rem 1rem 1rem;
    }

    .button:focus {
        margin: 1.7rem 1.1rem 1.1rem;
    }
}


.incorrect {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    > div {
        width: 28rem;
        height: 5rem;
        background-color: white;
        box-shadow: 0 0 10px $main-color;
        border: 2px solid $main-color;
        color: $color-grey;
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .fa-times {
            margin: 0.5rem 0.5rem 0 26.3rem;
        }

        .fa-times:hover {
            color: $main-color;
        }

        div {
            display: inline-flex;
            align-items: baseline;
            margin-top: -1.7rem;

            i {
                color: $error-color;
                margin-right: 1rem;
            }
        }
    }
}
