.sidebar-menu {
    position: fixed;
    display: block;
    max-width: 15rem;
    z-index: 40;
}

.create-event {
    width: 7rem;
    height: 1.2rem;
    text-align: center;
    white-space: nowrap;
    background-color: $main-color;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    margin: 3rem;
    border-radius: 5px;
    @include user-select;
}

.create-event:hover {
    background-color: $button-color;
    cursor: pointer;
}

.create-event:active {
    background-color: $main-color;
    padding: 0.45rem 1.45rem 0.45rem 0.95rem;
    margin: 3.05rem;
}
