.sidebar-menu {
    position: absolute;
    top: 3.1rem;
    display: block;
    max-width: 15rem;
}

.create-event {
    position: fixed;
    width: 15rem;
    height: 5rem;
    background-color: white;
    z-index: 10;

    button {
        position: absolute;
        width: 9.5rem;
        height: 2.3rem;
        text-align: center;
        white-space: nowrap;
        background-color: $main-color;
        text-transform: uppercase;
        color: white;
        border: none;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        margin: 1.5rem 3rem;
        border-radius: 5px;
        @include user-select;
    }

    button:hover {
        background-color: $button-color;
        cursor: pointer;
    }

    button:focus {
        outline: 0;
        height: 2.1rem;
        width: 9.3rem;
        background-color: $main-color;
        padding: 0.4rem 1.4rem 0.4rem 0.9rem;
        margin: 1.6rem 3.1rem;
    }
}
