$main-color: #b3003b;
$button-color: #cc0044;
$shadow-color: #660022;
$color-grey: #595959;
$color-pale-grey: #bfbfbf;
$background-color: #e6e6e6;

@mixin user-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    font: 14px 'Nunito', sans-serif;
    color: $color-grey;
}

.page-body {
    display: inline-flex;
    margin-top: 3.1rem;
    min-width: 900px;
    width: 100%;
}

@import 'title-menu', 'sidebar-menu', 'calendar-widget', 'main-block';
