$main-color: rgb(186, 44, 92); /*a2083b;*/
$button-color: rgb(162, 8, 59); /*ba2c5c;*/
$shadow-color: rgb(102, 0, 34);
$form-color: rgb(64, 38, 47);
$color-grey: rgb(89, 89, 89);
$color-pale-grey: rgb(181, 177, 177);
$background-color: rgb(230, 230, 230);

@mixin user-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    font: 14px 'Nunito', sans-serif;
    color: $color-grey;
}

.page-body {
    display: inline-flex;
    margin-top: 3.1rem;
}

@import 'title-menu', 'sidebar-menu', 'calendar-widget', 'main-block', 'create-event';
